
{% extends "base.html" %}

{% block content %}



<body class="bg-light">
    <div class="container py-5">
        <h1 class="text-center mb-4">Users</h1>
       
    <div class="py-5 text-center">
        <h1 class="display-4 mb-3 text-danger">Welcome to MyApp</h1>
        <p class="lead text-success">Users and Tasks in MyApp</p>
       
      </div>

    <div class="row justify-content-center g-4">
      <!-- Total Users -->
      <div class="col-md-4">
        <div class="card border-info shadow-sm text-center">
          <div class="card-body">
            <h5 class="card-title">Total Users</h5>
            <p class="display-6 fw-bold text-success">{{ user_count }}</p>
          </div>
        </div>
      </div>

      <!-- Total Tasks -->
      <div class="col-md-4">
        <div class="card border-success shadow-sm text-center">
          <div class="card-body">
            <h5 class="card-title">Total Tasks</h5>
            <p class="display-6 fw-bold text-success">{{ task_count }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  
      {% if users %}
      <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for user in users %}
        <div class="col">
          <div class="card shadow-sm h-100 border-start border-primary border-4">
            <div class="card-body">
              <h5 class="card-title">{{ user.username }}</h5>
              <p class="card-text text-muted">Full name: {{ user.first_name}} {{ user.last_name}}</p>
             
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <div class="alert alert-warning text-center" role="alert">
        No users found.
      </div>
      {% endif %}
    </div>



{% endblock %}